
header {
  position: relative;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background: url(../main.jpg) fixed;
  z-index: 1;
}


header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #666666;
  opacity: 0.3;
  z-index: 1;
}




.main-image{
 background-size: cover;
 width: 100%;
 height: auto%;

}

.main-text{
  padding-top: 80px;
  color: #fff;
}

.main-site{
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  color: white;
  padding-bottom: 20px;
}

.main-site:hover{
  text-decoration: none;
  transition: 0.5s;
  color: #000000;
}

a{
  color: #3EB449;

}

a:hover{
  text-decoration: none;
  color: black;
  transition: 0.5s;


}

.breadcrumb{
  background-color: transparent!important;
  padding: 0px!important;
}

.lhs{
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;

}

.section-divider{
  margin-bottom: 100px;
}

.section-divider h1{
  margin-bottom: 25px;
}


.section-divider p{
  font-size: 15px;
}

.section-divider img{
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rhs{
  padding-top: 50px;
  height: 25vh; // experiment with this value, try changing to 110vh
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;


}

.list-group-item.active{
  background-color: #146A37;
  border: none;
}

.list-group-item.active:hover{
  background-color: #146A37;
  border: none;
}

.list-group{
  width: 300px;
}

.down{
  padding-top: 100px;
}

.listgroup{
  position: fixed;
}

.footer{
  background-color: #B8B8B8;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.footer-text{
  padding-top: 20px;
}



/*///////////////// /////////////////*/

.separator-type, .title-type, .intro-type, .content-type .intro-type p {
  position: relative;
}
.intro-type .container {
  padding: 107px 0px 102px 0px !important;
}
.company-heading h1 {
  margin-bottom: 60px;
  padding-bottom: 50px;
  line-height: 80px;
  color: #fff;
  font-weight: 700 !important;
  text-align: center;
}
.jumbo {
  margin-top: 50px;
}
.seo-header, .product-header,
.intro-type .container h1.white,
.company-heading h1 {
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 55px;
  margin-bottom: 20px;
}
.parallax {
  background-attachment: inherit !important;
}
.parallax {
  background-attachment: inherit !important;
}
.parallax {
  background-attachment: inherit !important;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -10;
}
.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
img,
figure {
  max-width: 100%;
}

.item-container {
  padding-top: 20px;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-item {
  position: relative;
  margin: 1%;
  overflow: hidden;
  width: 300px;
  height: auto;
  display: inline-block;
}

.box-item img {
  max-width: 100%;
  height: auto;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box-item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.text {
  position: absolute;
  color: #000;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  width: 90%;
}

@media (max-width: 965px) {
  .box-item {
    position: relative;
    margin: 1%;
    overflow: hidden;
    width: 100% !important;
    height: auto;
    display: inline-block;
  }
}


.facilities{
  padding-top: 30px;
  padding-bottom: 30px;
}

.retirement{
  padding-top: 180px;
  
}






#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}